{% extends "layouts/base.html" %}

{% block content %}

<div class="[ flow ] [ wrapper ]">
  <h1>dev<span class="accent">Reads</span></h1>
  <p>A curated collection of reading material for web developers,
    designers and technologists of all levels.</p>
  <p>If you find any of this useful, then please feel free to donate a little to
    my <a href="https://ko-fi.com/E1E56NVK7" target="_blank">tip jar</a>.</p>
  {% include "partials/categories.html" %}
  {% include "partials/section.html" %}
</div>

{% endblock %}
