{% macro category_section() %}
<div class="[ flow wrapper ] [ section-overviews ]">
  {% include "partials/breadcrumbs.html" %} {% for category in
  collections.categories %} {% if category.slug == slug %}
  <section id="{{category.slug}}">
    <div class="[ flow ]">
      <h1>{{ category.title }}</h1>
      <div>
        {% for paragraph in category.description %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
    </div>
    <ul class="[ section-overviews__book ] [ flow ]">
      {% for book in category.books %}
      <li id="{{book.slug}}" class="[ with-sidebar ]">
        <div class="[ flow ]">
          <div>
            <h2>{{ book.title }}</h2>
            <p class="section-overviews__book-author">{{ book.author }}</p>
          </div>
          <p>{{ book.summary }}</p>
          <a href="/resources/{{category.slug}}/{{book.slug}}"
            >Read more
            <span class="visually-hidden">about {{ book.title }}</span></a
          >
          &nbsp;/
          <a href="{{book.link}}"
            >{% if freeResource %} View {% else %} Buy {% endif %}
            <span class="visually-hidden">{{ book.title }}</span></a
          >
        </div>
        <div>
          <img
            src="{{ book.image_url }}"
            loading="lazy"
            alt="{{ book.title }} cover"
            width="161"
            height="240"
          />
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %} {% endfor %}
</div>
{% endmacro %}
